body, html{
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #ffebc0, #f1c26b);
}

* {
    color: black; 
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    font-size: 160%;
}

section {
    width: 100%;
}

.main {
    width: 100%;
}
